<div class="form-group clearfix">
    <label class="col-md-2 control-label" for="version">{{:: 'vk-api-version' | translate}} <span class="required">*</span></label>
    <div class="col-md-6">
        <input class="form-control" id="version" type="text" ng-model="identityProvider.config.version" required>
    </div>
    <kc-tooltip>{{:: 'vk.version.tooltip' | translate}}</kc-tooltip>
</div>
<div class="form-group ng-scope">
    <label class="col-md-2 control-label" for="fetchedFields">{{:: 'vk-fetched-fields' | translate}} <span class="required">*</span></label>
    <div class="col-md-6">
        <input ng-model="identityProvider.config.fetchedFields" id="fetchedFields" class="form-control ng-pristine ng-untouched ng-valid ng-empty">
    </div>
    <kc-tooltip>{{:: 'vk.fetched-fields.tooltip' | translate}}</kc-tooltip>
</div>
<div class="form-group">
    <label class="col-md-2 control-label" for="vk-email-required">{{:: 'vk-email-required' | translate}}</label>
    <div class="col-md-6">
        <input ng-model="identityProvider.config.email_required" id="vk-email-required" onoffswitchvalue on-text="{{:: 'onText' | translate}}" off-text="{{:: 'offText' | translate}}"/>
    </div>
    <kc-tooltip>{{:: 'vk.email_required.tooltip' | translate}}</kc-tooltip>
</div>
