<div class="form-group clearfix">
    <label class="col-md-2 control-label" for="ok-public-key">{{:: 'ok-public-key' | translate}} <span class="required">*</span></label>
    <div class="col-md-6">
        <input class="form-control" id="ok-public-key" type="text" ng-model="identityProvider.config.publicKey" required>
    </div>
    <kc-tooltip>{{:: 'ok.publicKey.tooltip' | translate}}</kc-tooltip>
</div>
<div class="form-group">
    <label class="col-md-2 control-label" for="ok-email-required">{{:: 'ok-email-required' | translate}}</label>
    <div class="col-md-6">
        <input ng-model="identityProvider.config.emailRequired" id="ok-email-required" onoffswitchvalue on-text="{{:: 'onText' | translate}}" off-text="{{:: 'offText' | translate}}"/>
    </div>
    <kc-tooltip>{{:: 'ok.emailRequired.tooltip' | translate}}</kc-tooltip>
</div>
